 <!-- Drawer Menu -->
 <aside class="drawer" id="drawer">
    <button class="drawer-toggle" onclick="toggleDrawer()">☰</button>
    <div class="drawer-content">
        <ul>
            <li><a href="/Search"><i class="fas fa-search"></i><span>Search</span></a></li>
            <li><a href="/register"><i class="fas fa-user-plus"></i><span>Register</span></a></li>
            <li><a href="/Accession"><i class="fas fa-users"></i><span>Accession</span></a></li>
            <li><a href="/Result"><i class="fas fa-sign-out-alt"></i><span>Result</span></a></li>

        </ul>
    </div>
</aside>