<nav>
    <div class="user-info">
        <div class="user-initials" id="userInitials"></div>
        <div>
            <p id="userName"><%= user.userName %></p>
        </div>
    </div>
    <button id="themeToggle" class="theme-toggle-btn">Toggle Theme</button>
</nav>